.button, [title="button"]{
    padding: 10px 22px;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
}

.button_blue,[title="button"]{
    border: none;
    border-radius: 31px;
    background-color: #0095d9;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    margin: 40px auto 60px auto;
    padding: 15px 45px;
}

.button_blue:hover{
    background-color: #fff;
    color: #000;
}

.button_hover_black:hover{
    background-color: #000;
    color: #fff;
}

.button_question{
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 5px 26px;
    border-radius: 25px;
    border: 1px solid #000;
}

.button_question:hover{
    background-color: #000;
    color: #fff;
    background-color: #0095d9;
    border: 1px solid #0095d9;
}

.button_download{
    background: #fff url("img/download.svg") no-repeat 93% center / 26px 28px;
    border-radius: 25px;
    border: 2px solid #0095d9;
    padding: 13px 50px 13px 20px !important;
    color: #0095d9;
    text-transform: uppercase;
    margin: 5px;
}

.button_download:hover{
    background: #fff url("img/download-white.svg") no-repeat 93% center / 26px 28px;
    color: #fff;
    background-color: #0095d9;
}

.button_toTop{
    background-size: cover;
    border: none;
    position: fixed;
    right: 1%;
    bottom: 10px;
    transition: 0.3s;
    background: transparent;
    font-size: 2em;
    z-index: 3;
    color: #676767;
    font-weight: 900;
}

@media (max-width:370px),(max-device-width:370px) {
    .button_blue{
        padding: 20px 30px;
    }
}
