.input{
    width: 100%;
    padding: 5px;
    margin: 20px 0px;
}

.input__label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.input__field{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.input__textarea{
    min-height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 200px;
    resize: none;
}
