.container{
    max-width: 1210px;
    margin: 0px auto;
    padding-left:8px;
    padding-right:8px;
    padding-top:20px;
    padding-bottom: 20px;
}

.container_paddingBottom_400{
    padding-bottom: 400px !important;
}

.container_width_full{
    width: 100%;
    max-width: 100%;
}

.container_paddingTop_70{
    padding-top: 70px;
}

.container_link{
    padding: 10px 10px 10px 50px;
    margin-bottom: 20px;
}

.container_background_planet{
    padding: 100px 10px 100px 10px;
    background: #000 url(img/planet.png) no-repeat center/cover;
}

.container_categories-paddingTop_90{
    padding-top: 90px;
}

.container_categories-articles{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.container_categories{
    width: 300px;
}

.container__title_marginTop_0{
    margin-top: 0px;
}

.container__title_paddingBottom_30{
    padding-bottom: 30px;
}

.container__title_small{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

.container__category-link{
    color: #0786c1;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 30px;
    margin: 10px 0px;
}

.container_text{
    background-color: #fff;
    padding: 25px;
    line-height: 24px;
}

/* @media (max-width:1000px),(max-device-width:1000px) {
    .container_categories-articles{
        flex-direction: column;
        padding-top: 65px;
    }
} */

.container_categories-mobile{
    display: none;
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 1000;
    background-color: #ccc;
    width: 300px;
}

@media (max-width:992px),(max-device-width:992px) {
    .container_categories{
        display: none;
    }
}

@media (max-width:500px),(max-device-width:500px) {
    .container_text{
        padding: 10px;
    }
}
