.container{
    max-width: 1210px;
    margin: 0px auto;
    padding-left:8px;
    padding-right:8px;
    padding-top:20px;
    padding-bottom: 20px;
}

.container_width_full{
    width: 100%;
    max-width: 100%;
}

.container_background_planet{
    padding: 100px 10px 100px 10px;
    background: url("img/planet.png") no-repeat center / cover;
}

.container_categories-articles{
    display: flex;
    justify-content: space-between;
}

.container_categories{
    width: 300px;
}

.container__category-title{
    color: #010101;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.container__category-link{
    color: #0786c1;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 30px;
    margin: 10px 0px;
}

.container_text{
    background-color: #fff;
    padding: 25px;
    line-height: 24px;
}

@media (max-width:1000px),(max-device-width:1000px) {
    .container_categories-articles{
        flex-direction: column;
        padding-top: 65px;
    }
}
