.title{
    max-width: 585px;
    padding: 10px;
    margin: 0px auto;
}

.title__text{
    color: #ffffff;
    font-family: Montserrat;
    text-align: center;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 32px;
}

.title__subtext{
    margin: 0px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
