.title{
    max-width: 585px;
    padding: 10px;
    margin: 0px auto;
}

.title__text{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 32px;
}

.title__text_left{
    text-align: left;
}

.container__text_bold{
    font-size: 18px;
    font-weight: bold;
}

.title__text_small{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}

.title__subtext{
    margin: 0px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.title__text_black{
    color: #000;
}
