.category
    .category__wrapper
        .category__arrow
        a.category__title(href="#") Документация
    .categories__links
        a.category__link(href="#") Статья 1
        a.category__link(href="#") Статья 2
        a.category__link(href="#") Статья 3
