footer.footer
    .container
        .row.footer__row
            .footer__col
                h4.footer__title About Credits
                .footer__line
                .footer__text
                    | CREDITS.COM PTE. LTD.<br/> Reg. No.: 201725929C<br/>
                    | 1 GEORGE STREET <br/>
                    | <br/> #10-01 ONE GEORGE STREET SINGAPORE 049145<br/>

            .footer__col
                h4.footer__title Rules
                .footer__line
                .footer__text
                    a.footer__link(href="#") Term of Use <br/>
                    a.footer__link(href="#") ICO Terms <br/>
                    a.footer__link(href="#") Privacy Policy

            .footer__col
                h4.footer__title Contacts
                .footer__line
                .footer__text
                    a.footer__link(href="mailto:pr@credits.com") Advertising & PR: pr@credits.com<br/>
                    a.footer__link(href="mailto:press@credits.com") Press & News - press@credits.com<br/>
                    a.footer__link(href="mailto:info@credits.com") General Issues - info@credits.com <br/>
                    a.footer__link(href="tel:+6581149362") Tel: +65 8114 9362 <br/>
    .footer__copyright 
        | Copyright © 2018 
        a.footer__link(href="https://credits.com") CREDITS.COM
        |   All Rights Reserved. 

button.button.button_toTop ⇧             
