doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
        
        
                
        section.container.container_categories-articles
            .container.container_categories
                h2.container__title.container__title_marginTop_0 Категории
                .category
                    .category__wrapper
                        .category__arrow
                        a.category__title(href="#") Документация
                    .categories__links
                        a.category__link(href="#") Статья 1
                        a.category__link(href="#") Статья 2
                        a.category__link(href="#") Статья 3
                        .category
                            .category__wrapper
                                .category__arrow
                                a.category__title(href="#") Подкатегория
                            .categories__links
                                a.category__link(href="#") Статья 1_1
                                a.category__link(href="#") Статья 2_1
                                a.category__link(href="#") Статья 3_1
                        .category
                            .category__wrapper
                                .category__arrow
                                a.category__title(href="#") Подкатегория
                            .categories__links
                                a.category__link(href="#") Статья 1_1
                                a.category__link(href="#") Статья 2_1
                                a.category__link(href="#") Статья 3_1

                    
            article.container.container_article
                .navigation
                    a.navigation__item(href="#") Главная страница
                    a.navigation__item(href="#") Категория
                    a.navigation__item(href="#").navigation__item_current Страница
                
                h2.title__text.title__text_left.title__text_black How can we help?
                
                .container.container_text
                    p
                        | Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam. Vivamus varius pretium ligula, a aliquam odio euismod sit amet.
                    .row.row_spaceAround
                        button.button.button_download Installation file
                        button.button.button_download Installation file
                        button.button.button_download Installation file
                        
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
                    p
                        | CREDITS is an open blockchain platform with autonomous smart contracts and an internal cryptocurrency. The platform is designed to create services for blockchain systems using self-executing smart contracts and public data registry.The platform can execute more than
        
        
        
        include ../blocks/footer/footer.jade
