@font-face {
    src: url('fonts/Montserrat-Regular.ttf');
    font-family: Montserrat;
}

@font-face {
    src: url('fonts/Montserrat-SemiBold.otf');
    font-family: "Montserrat - Semi Bold";
}

* {
    box-sizing: border-box;
    transition: .3s;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    background-color: #f6f6f6;
}

form{
    max-width: 450px;
}

.container_text img{
    max-width: 95%;
    display: block;
    height: 100%;
    margin: 0px auto;
}

a:not(.button):hover {
    color: #fe0000 !important;
}

a{
    text-decoration: none;
    cursor: pointer;
}

details {
    padding-left: 30px;
    margin: 10px 0px;
}

.open{
    display: block;
}

/* details[open] > summary{
    color: tomato;
}

summary{
    outline: none;
    cursor: pointer;
    position: relative;
    padding-left: 16px;
    user-select: none;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
    position: absolute;
    content: "";
    width: 12px;
    left: 0px;
    top: 4px;
    height: 12px;
    background: url("img/left-arrow.png") no-repeat center / cover;
}

details[open] > summary:after {
    transform: rotate(90deg);
} */
