.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_questions{
    max-width: 860px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row_spaceAround{
    justify-content: space-around;
    flex-wrap: wrap;
}
