.header {
    background-color: #000;
    padding: 5px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 5;
}

.header__empty{
    min-height: 70px;
}

.header__wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin: auto;
    flex-wrap: wrap;
}



.header__logo {
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.header__logo::after{
    position: absolute;
    content: "Fast cryptocurrency & blockchain";
    font-size: 10px;
    color: #fff;
    bottom: 2px;
    left: 44px;
    font-family: Montserrat;
}

.header__logo img{
    margin-right: 10px;
}

.header__title {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.header__title-explanation{
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    top: -8px;
    color: #3ac9ee;
    font-family: "Montserrat - Semi Bold";
}

.header__menu {
    max-width: 285px;
    min-width: 285px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}


.header__item {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__item-wrapper{
    position: relative;
}

.header__submenu_width_100{
    width: 100px;
}

.header__form{
    width: 300px;
    margin: 10px 40px;
    background: #4d4d4d;
    border-radius: 5px;
    padding: 6px;
    background-color: #f2f2f2;
}

.header__search{
    color: #000;
    border: none;
    background: #4d4d4d;
    width: 100%;
    background-color: #f2f2f2;
}

.header__submit{
    width: 24px;
    height: 24px;
    background: #4d4d4d url("img/search.svg") no-repeat center/ cover;
    border: none;
    cursor: pointer;
    font-size: 0px;
    background-color: #f2f2f2;
}


@media (max-width:1200px), (max-device-width:1200px) {
    .header__wrapper{
        justify-content: space-around;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .header__burger{
        width: 17px;
        cursor: pointer;
        margin: 5px;
        position: absolute;
        z-index: 6;
        right: 5px;
        top: 24px;
    }

    .header__burger > div{
        height: 3px;
        background-color: #fff;
        margin-bottom: 3px;
    }

}

@media (max-width:675px),(max-device-width:675px) {
    .header__form{
        margin: 0px 0px 10px 0px;
    }
}

@media (max-width:460px),(max-device-width:460px) {
    .header__title{
        font-size: 28px;
    }

    .header__logo{
        width: 315px;
    }

    .header__title-explanation{
        top: 0px;
        font-size: 21px;
    }

    .header__logo::after{
        bottom: 5px;
        left: 70px;
    }
}

@media (max-width:420px),(max-device-width:420px) {
    .header__burger{
        right: auto;
        left: 0px;
    }
}

@media (max-width:400px),(max-device-width:400px) {
    .header__logo{
        position: relative;
        left: 15px;
        width: auto;
    }
}
