header.header
    .header__wrapper
        a.header__logo(href="#")
            img(src="img/header__logo.png")
            h1.header__title CREDITS
                span.header__title-explanation  Support
        nav.header__menu
            a.header__item("href=#") F.A.Q
            a.header__item("href=#") DOCUMENTS
            a.header__item("href=#") CONTACTS
.header__empty
